/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'SegoeUI', sans-serif;
}
a{
	text-decoration: none;
}
.i{
	background-size: 100%;
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
}
.i_arrow{
	background-image: url("../img/arrow.png");
	width: 29px;
	height: 67px;
}
.i_logo{
	width: 200px;
	height: 57px;
	margin-left: 10%;
}
.i_footer{
	width: 200px;
	height: 57px;
	margin-left: 10%;
}
.i_neft{
	width: 180px;
	height: 80px;
	margin-right: 10%;
}
.i_phone{
	background-image: url("../img/phone.png");
	width: 20px;
	height: 20px;
}
.i_mail{
	background-image: url("../img/mail.png");
	width: 20px;
	height: 15px;
}
.i_mail-text{
	font-size: 20px;
    color: #243C4E;
}
.side_left{
	text-align: left;
}
.side_center{
	text-align: center;
}
.side_right{
	text-align: right;
}
.header{
	font-size: 0px;
	height: 30vh
}
.header-top-logo{
	display: inline-block;
	width: 50%;
}
.header-bottom{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.header-bottom-element{
	width: 33.2%;
	padding: 15px 0px 15px 0px;
	display: inline-block;
	border-right: 1px solid black;
}
.header-bottom-element:last-child{
	border-right: none;
}
.header-bottom-element-text{
	font-size: 20px;
    color: #243C4E;
    display: inline-block;
    margin-left: 18%;
}
.header-bottom-btn{
	color: #243C4E;
    margin-right: 18%;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    border: 2px solid #243C4E;
    font-size: 13px;
}
.content-element-text-first{
	color: #333;
}
.content-element{
	width: 100%;
	height: 100vh;
	background-color: #253D4F;
	border-bottom: 1px solid white;
}
.content-element:first-child{
	width: 100%;
	height: 70vh;
	background-color: white;
	border-bottom: 1px solid white;
}
.content-element:last-child{
	width: 100%;
	height: 88vh;
}
.content-element-text{
	text-align: center;
	width: 82%;
    margin: 0 auto;
    padding-top: 30px;
    color: white;
}
.content-element-text-top{
	font-size: 3em;
	font-family: "SegoeUIBold";
}
.content-element-text-bottom{
	font-family: "SegoeUILight";
    font-size: 1.375em;
    line-height: 1.42857143;
}
.element-first_arrow{
	text-align: center;
	position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
}
.footer{
	font-size: 0px;
	height: 12vh;
}
.footer-element{
	vertical-align: middle;
	margin: 10px 0px 10px 0px;
	width: 50%;
	display: inline-block;
}
.footer-text{
	color: #253D4F;
    font-size: 10px;
    margin-right: 10%;
}